<li id="list_item-<%= list_item.id %>" class="collection-item">
  <%= list_item.name %>
  <% if current_user == list_item.list.user %>
    <%= link_to add_to_basket_list_items_path(list_item) do %>
    <% if list_item.in_basket? %>
        <i  class="green-text material-icons right">shopping_basket</i>
        <% else%> 
        <i  class="redeem red-text material-icons right hide">shopping_basket</i>
        <% end %>
    <% end %>
    <%= link_to list_items_path(list_item.list, list_item_id: list_item.id), method: :delete,
                               data: { confirm: 'You sure' } do %>
        <i  class=" redeem red-text material-icons right hide">delete</i>
    <% end %>

  <% end %>

</li>

<script>
$('#list_item-<%= list_item.id %>').hover(
  function () {
    $(this).find(".redeem").addClass('show');
    $(this).find(".redeem").removeClass('hide');

  },
  function () {
    $(this).find(".redeem").removeClass('show');
    $(this).find(".redeem").addClass('hide');
  }
);
</script>
